<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
      <h3 class="page-header">Tus anuncios
      </h3>
  </div>

  <% @advertises.each do |ad| %>
    <%= render partial: 'shared/advertise', locals: { advertise: ad } %>
  <% end %>
</div>
<!-- /.row -->