<h1>Listing messages</h1>
<div class="row">
  <% @messages.each do |message| %>
    <div class="col-md-8">
      <div class="col-md-6">
          <%= message.text %>
      </div>
      <div class="col-md-6">
          <%= link_to 'Borrarlo', user_message_path(current_user, message), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
