@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.navbar-nav li a {
  color: #fff
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.main h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.share {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.main h3 {
  border-bottom: 1px solid #ccc;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.hero-unit h1 {
  font-family: 'Rosario', cursive;
}

/* header */

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 13px;
  font-weight: bold;
  line-height: 1;
}

.navbtn:hover {
  background-color: green;
}

.navbar-brand a{
  color: white;
}
